body {
  font-size: 12pt;
  font-family: Verdana, Geneva, Helvetica, sans-serif;
  color: black;
  line-height: 14pt;
  padding-left: 20pt;
  padding-right: 20pt;
  padding-top: 5pt;
}

h1 {
  font: 14pt Verdana, Geneva, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
}
